<div class="p-10 h-full relative ">
    <tekus-subscribers-side-menu class="h-full" (isChanged)="isChanged($event)" #side>
        <ng-container main>
            <mat-card class="px-12 py-8">
                <mat-progress-bar mode="indeterminate" *ngIf="loading == 'pending'"></mat-progress-bar>
                <tekus-subscribers-header-card></tekus-subscribers-header-card>
                <tekus-subscribers-table-subscribers></tekus-subscribers-table-subscribers>
            </mat-card>
        </ng-container>
        <div side-content>
            <ng-container *ngIf="isOpen">
                <tekus-subscribers-form-create-subscriber></tekus-subscribers-form-create-subscriber>
            </ng-container>
        </div>
    </tekus-subscribers-side-menu>
</div>